<header class="nav">
  <div class="container nav-inner">
    <a class="brand" href="{{ '/' | relative_url }}">{{ site.first_name | downcase }}-{{ site.last_name | downcase }}</a>

    <nav>
      <ul class="nav-links">
        <li>
          <a href="{{ '/' | relative_url }}" {% if page.title == 'about' %}class="active"{% endif %}>about</a>
        </li>
        {% if site.blog_name %}
        <li>
          <a href="{{ '/blog/' | relative_url }}" {% if page.url contains '/blog' %}class="active"{% endif %}>blog</a>
        </li>
        {% endif %}
        {% assign sorted_pages = site.pages | sort: "title" %}
        {% for p in sorted_pages %}
          {% if p.nav and p.autogen == nil %}
        <li>
          <a href="{{ p.url | relative_url }}" {% if page.title == p.title %}class="active"{% endif %}>{{ p.title }}</a>
        </li>
          {% endif %}
        {% endfor %}
        {% if site.enable_darkmode %}
        <li>
          <button id="theme-toggle" class="theme-toggle" type="button" aria-label="Toggle theme">~/theme</button>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>
