{% if paginator.total_pages > 1 %}
<nav class="pagination" aria-label="Blog pagination">
  <ul class="pagination">
    <li>
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | relative_url }}">‹ newer</a>
      {% else %}
        <span class="disabled">‹ newer</span>
      {% endif %}
    </li>
    {% if paginator.page_trail %}
      {% for trail in paginator.page_trail %}
      <li>
        {% if page.url == trail.path %}
          <span class="active">{{ trail.num }}</span>
        {% else %}
          <a href="{{ trail.path | relative_url }}" title="{{ trail.title }}">{{ trail.num }}</a>
        {% endif %}
      </li>
      {% endfor %}
    {% endif %}
    <li>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | relative_url }}">older ›</a>
      {% else %}
        <span class="disabled">older ›</span>
      {% endif %}
    </li>
  </ul>
</nav>
{% endif %}
