<ul class="social">
  {% if site.email %}<li><a href="mailto:{{ site.email | encode_email }}">email</a></li>{% endif %}
  {% if site.github_username %}<li><a href="https://github.com/{{ site.github_username }}" target="_blank" rel="noopener">github</a></li>{% endif %}
  {% if site.linkedin_username %}<li><a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank" rel="noopener">linkedin</a></li>{% endif %}
  {% if site.twitter_username %}<li><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" rel="noopener">twitter</a></li>{% endif %}
  {% if site.scholar_userid %}<li><a href="https://scholar.google.com/citations?user={{ site.scholar_userid }}" target="_blank" rel="noopener">scholar</a></li>{% endif %}
  {% if site.orcid_id %}<li><a href="https://orcid.org/{{ site.orcid_id }}" target="_blank" rel="noopener">orcid</a></li>{% endif %}
  {% if site.research_gate_profile %}<li><a href="https://www.researchgate.net/profile/{{ site.research_gate_profile }}/" target="_blank" rel="noopener">researchgate</a></li>{% endif %}
  {% if site.medium_username %}<li><a href="https://medium.com/@{{ site.medium_username }}" target="_blank" rel="noopener">medium</a></li>{% endif %}
  {% if site.work_url %}<li><a href="{{ site.work_url }}" target="_blank" rel="noopener">work</a></li>{% endif %}
  {% if site.keybase_username %}<li><a href="https://keybase.io/{{ site.keybase_username }}" target="_blank" rel="noopener">keybase</a></li>{% endif %}
</ul>
