<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>
  <div class="shell">
    {% include header.html %}

    <main>
      <div class="container">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}
  </div>

  {% if site.enable_darkmode %}
  <script src="{{ '/assets/js/theme.js' | relative_url }}"></script>
  {% endif %}
  <script src="{{ '/assets/js/site.js' | relative_url }}"></script>

  {% if site.enable_math %}
  <script>
    window.MathJax = { tex: { tags: 'ams' } };
  </script>
  <script defer src="https://cdn.jsdelivr.net/npm/mathjax@{{ site.mathjax.version }}/es5/tex-mml-chtml.js"></script>
  {% endif %}
</body>
</html>
